## - lives in ~/

[user]
	name = Brice Shatzer
	# email = brice.shatzer@gmail.com 
    # leaving this out forces git to ask you on the intial commit of any repo
    # this is good if you have both personal and professional repos 

[core]
	editor = nano
	# excludesfile = /Users/bshatzer/.gitignore_global

[init]
        defaultBranch = main

[alias]
    branches = branch --list
    remotes = remote -v
    hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    history = !git hist && exit 
    ignored = !git ls-files -v | grep "^[[:lower:]]"
    unstage = reset HEAD --
    chekcout = checkout
    # setbranch = "!f() { git branch -D $1 && git checkout -b $1; }; f"

[push]
    default = simple

[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED    

[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE

# [difftool "sourcetree"]
# 	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
# 	path = 
# [mergetool "sourcetree"]
# 	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
# 	trustExitCode = true
